/* 
    Document   : style
    Created on : 26.06.2011, 11:02:36
    Author     : Voodoo
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

* {
	color: #555;
	margin: 0;
	padding: 0;
	word-wrap: break-word;
}

a {
	font-size: 11px;
    color: #777;
    text-decoration: none;
	outline: none;
}

a:hover {
	color: #999;
}

p {
	font-size: 11px;
	color: #666;
}

table {
	font-size: 11px;
}

h1, h2, h3, h4, h5 ,h6 {
	font-family: verdana, arial, sans-serif;
	padding: 0;
	margin: 0;
}

.error {
	color: white !important;
	background: #701133 !important;
	border: 1px solid #aaa !important;
	text-align: center !important;
	text-shadow: 1px 1px 0 #444 !important;
	letter-spacing: 1px;
	margin-bottom: 2px;
}

.success {
	color: white !important;
	background: #719601 !important;
	border: 1px solid #aaa !important;
	text-align: center !important;
	font-weight: bold !important;
	margin-bottom: 2px;
	letter-spacing: 1px;
	text-shadow: 1px 1px 0 #444 !important;
}

@font-face {
	font-family: BebasNeue;
	src: url('fonts/BebasNeue.otf');
}

body {
	text-align: center; /*Fix center page on IE*/
	font-family: sans-serif, arial, verdana;
	font-size: 11px;
    color: #777;
    background: url(images/background.jpg);
	margin: 0 auto;
	height: auto;
}

.container {
	width: 1000px;
	margin: 0 auto;
}

/*Top Nav*/
.topnav {
	background: url('images/topbar.png') repeat-x;
	height: 55px;
}

#thetime {
	font-family: Helvetica, Verdana;
	color: #808080;
	text-align: left;
	font-size: 12px;
	padding-top: 22px;	
	text-shadow: 1px 1px 0 #000;
	float: left;
	margin-left: 2px;
}

.loginbox {
	float: right;
	padding-top: 6px;	
	position: relative;
}

.loginbar {
	position: absolute;
	right: 180px;
	top: 23px;
	display: none;
	margin-top: 5px;
	margin-right: 3px;
	background: url('images/login.png') no-repeat;
	width: 225px;
	height: 103px;
	float: left;
	padding: 5px;
	border-radius: 6px;
	z-index: 200;
}

.loginform {
	display: none;	
}

.loginbtn {
	cursor: pointer;
	font-family: Verdana;
	font-size: 14px;
	color: white;
	text-shadow: 1px 1px 0 #000;
	float: left;
	background: url('images/loginbtn.png') no-repeat;
	width: 101px;
	height: 30px;
	padding: 10px 0 0 0;
	position: relative;
	z-index: 201;
}

.loginbtn:hover {
	background: url('images/loginbtnhover.png') no-repeat;
}

.registerbtn {
	cursor: pointer;
	font-family: Verdana;
	font-size: 14px;
	color: white;
	text-shadow: 1px 1px 0 #000;
	float: right;
	background: url('images/registerbtn.png') no-repeat;
	width: 101px;
	height: 30px;
	padding: 10px 0 0 0;
}

.registerbtn a {
	font-family: Verdana;
	font-size: 14px;
	color: white;
	padding: 10px 0 0 0;
	text-shadow: 1px 1px 0 #000;
}

.registerbtn:hover {
	background: url('images/registerbtnhover.png') no-repeat;
}
/*End of Top Nav*/

/*Header (Logo + Login Panel)*/
.header {
   width: 1010px;
	height: 167px;
   margin: 0 auto;
	clear: both;
}

.logo  a img{
	float: left;
	border: 0;
}

.status-panel {
	margin-top: 24px;
	float: right;
	background: url('images/status_panel.png') no-repeat;
	width: 350px;
	height: 120px;
}

.status-panel p {
	font-family: Verdana;
	text-align: left;
	font-size: 12px;	
	padding: 3px 0 1px 10px;
}

.last_online {
	font-family: Verdana;
	font-size: 12px;
	text-align: center;
	width: 100%;
	height: 95px;
	padding-top: 5px;
}

.last_online td {
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 1px;
	border-color: #333;
	border-style: solid;	
}

.last_online tr + tr + tr + tr td { border: none; }

.last_online a {
	font-size: 12px;	
}

.last_online p {
	font-size: 12px;
}

/*End of Header*/

.subheader {
	text-align: left;
	font-family: sans-serif, arial, verdana;
	font-size: 12px;
	letter-spacing: 2px;
	background: url('images/subheader.png') repeat-x;
	height: 59px;
	padding-top: 6px;
   margin: 0 auto;
}

.subheader-left {
    float: left;
    background: url(images/subheader-left.png) no-repeat;
    width: 7px;
    height: 50px;
}

.subheader-right {
    float: right;
    background: url(images/subheader-right.png) no-repeat;
    width: 7px;
    height: 50px;
}

.subheader-center {
   background: url(images/subheader-center.png) repeat-x;
   height: 33px;
   padding-top: 17px;
   margin: 0 7px 0 7px;
}

.subheader-center ul {
	float: left;
	list-style-type: none;
}

.subheader-center ul li {
    display: inline;
}

.subheader-center ul li a {
	color: #42474b;
	font-size: 16px;
	text-shadow: 1px 1px 0 #000;
	font-family: Helvetica, Verdana;
	padding: 14px 15px 8px 15px;
	text-transform: uppercase;
	letter-spacing: -1px;
}

.subheader-center ul li a:hover {
	color: #888;
	padding: 14px 15px 8px 15px;
}

.subheader-center p {
	float: right;
	color: #42474b;
	font-size: 16px;
	text-shadow: 1px 1px 0 #000;
	font-family: Helvetica, Verdana;
	letter-spacing: -1px;
	text-transform: uppercase;
	margin-right: 10px;
	background: url('images/platforms-arrow.png') no-repeat left center;
	padding-left: 15px;
	cursor: pointer;
}

.subheader-center p:hover {
	color: #888;
	background: url('images/platforms-arrow-hover.png') no-repeat left center;
}

.sub-banner {
	width: 990px;
	height: 215px;
	padding-top: 10px;
}
/*End of Subheader*/

/*Platforms navigation*/
.platformsbtn {
	position: relative;
}

.platforms {
	float: right;
	position: absolute;
	top: 17px;
	right: 0;
	display: none;
	opacity: 0.7;
	background: #000;
	min-height: 40px;
	min-width: 124px;
	padding: 5px 6px;
	border: 1px solid #333;
	border-radius: 6px;
	z-index: 500;
}

.platforms ul {
	list-style-type: none;
}

.platforms ul li a {
	color: #777;
	display: block;
	font-size: 14px;
	padding: 0;
	margin: 0;
}

.platforms ul li a:hover {
	color: #5b6874;
	padding: 0;
	margin: 0;
}

ul.sub-platforms-nav {
	z-index: 100;
	font-size: 12px;
	position: absolute;
	margin-left: -150px;
	margin-top: -16px;
	background: #000;
	display: none;
	width: 150px;
	border: 1px solid #666;
	opacity: 0.6;
	filter: alpha(opacity=60);
	-moz-border-radius: 6px;
}

ul.sub-platforms-nav li {
	font-size: 12px;
	list-style: none;
	clear: both;
}

ul.sub-platforms-nav li a {
	font-size: 12px;
	color: #FFFFFF;
	text-decoration: none;
	padding: 5px 8px 3px 8px;
	display: block;
}

ul.sub-platforms-nav li a:hover {
	background: none;
	color: #FFFFFF;
	padding: 5px 8px 3px 8px;
}

/*End of Platforms Navigation*/

/*Site Content*/
.content-wrapper {
	text-align: left;
    width: 1010px;
    margin: 0 auto;
}

.content-top {
	width: 1010px;
	height: 20px;
}

.content-top p {
	padding: 0px 0 0 20px;
}

.content-bottom {
	background: url(images/content-bottom.png) no-repeat;
	width: 1010px;
	height: 5px;
}

.content-center {
	padding: 2px 0 0 10px;
	height: inherit;
	clear: both;
}

/*End of site Content*/

/*Footer*/
.footer {
	font-size: 11px;
	font-family: BebasNeue, arial, sans-serif;
	margin: 0 auto;
    background: url(images/footer-center.png) repeat-x;
	clear: both;
}

.footer-center {
	text-align: left;
	width: 1010px;
	height: 56px;
	margin: 0 auto;
}

.footer-icons{
	float: right;
	padding-top: 15px;
}

.footer-center p {
	color: #6c7279;
	font-size: 10px;
	font-family: Verdana;
	text-align: left;
	text-shadow: 1px 1px 0 #000;
}

.footer-links {
	padding-top: 24px;
	float: right;
}

.footer-links a {
	color: #53595f;
	text-shadow: 1px 1px 0 #000;
	font-size: 11px;
	font-family: Verdana;
	margin-left: 5px;
	margin-right: 5px;
}

.copyright {
	padding-top: 24px;
	text-transform: uppercase;
	float: left;
}

.copyright a {
	color: #53595f;
	font-size: 12px;
}

.copyright a:hover {
	color: #6c7279;
}

.scrollArrow {
	display: none;
	position: fixed;
	bottom: 70px;
	right: 25px;
	font-size: 22px;
	font-weight: bold;
	cursor: pointer;
	width: 30px;
	height: 30px;
	background: url('images/arrow.png') no-repeat;
}

.scrollArrow:hover {
	width: 30px;
	height: 30px;
	background: url('images/arrowhover.png') no-repeat;
}



/*End of Footer*/

/*Tables*/

.table2 {
	border-collapse: collapse;
	width: 100%;
	margin: 0 auto;
}

.table2 th {
	color: #10a2bc;
	background: #1c1c1c;
	border-collapse: collapse;
	border: 1px solid #2c2c2c;
}

.table2 td {
	background: #111;
	padding: 2px;
	border: 1px solid #222;
}

.table2 td:hover {
	background: #1c1c1c;
	border-bottom: 1px solid #10a2bc;
}

.table3 {
	border-collapse: collapse;
	width: 100%;
	margin: 0 auto;
}

.table3 th {
	color: #10a2bc;
	background: #e0e0e0;
	border-collapse: collapse;
	border: 1px solid #aaa;
}

.table3 td {
	background: #e9e9e9;
	padding: 2px;
	border: 1px solid #ccc;
}

.table3 td:hover {
	background: #e0e0e0;
	border-bottom: 1px solid #10a2bc;
}

.table-admin {
	border-collapse: collapse;
	width: 100%;
	margin: 0 auto;	
}

.table-admin th {
	color: #1c9eb5;
	background: #f0f0f0;
	border-collapse: collapse;
	border: 1px solid #c0c0c0;
}

.table-admin td {
	background: #f4f4f4;
	border: 1px solid #d0d0d0;
}

/*Panel*/
.left-side-panels {
	float: left;
	font-family: sans-serif, arial, verdana;
	width: 200px;
}

.right-side-panels {
	float: right;
	font-family: sans-serif, arial, verdana;
	width: 200px;
}

.panel-top-center {
	background: url(images/panel-top-center.png) repeat-x;
	margin: 0;
	width: 200px;
	height: 38px;
}

.panel-top-center p {
	color: #53595f;
	font-family: Helvetica, Verdana;
	font-size: 13px;
	text-shadow: 1px 1px 0 #000;
	padding: 14px 0 0 15px;
}

.panel-content {
	color: #666;
	background: url(images/panel-content.png) repeat-y;
	padding: 5px 10px 0 10px;
}

.panel-content hr {
	border: 1px dotted #a0a0a0;
}

.panel-bottom-left {
	float: left;
	width: 15px;
	height: 15px;
	background: url('images/panel-bottom-left.png') no-repeat;
}

.panel-bottom-right {
	float: right;
	width: 15px;
	height: 15px;
	background: url('images/panel-bottom-right.png') no-repeat;
}

.panel-bottom-center {
	text-align: right;
	background: url(images/panel-bottom-center.png) repeat-x;
	height: 15px;
	margin: 0 15px 0 15px;
}

.panel-bottom-center a {
	font-size: 9px;
	padding-right: 20px;
}

.panel-content li {
	padding-left: 4px;
}

fieldset {
	border: 1px solid #2c2c2c;
}

/*End of Panel*/

.shoutbox_post_repeat {
	border: 1px solid #222;
	background: #151515;
	padding: 2px; 
	margin-top: 4px;
	text-align: left;
}

.shoutbox_post_repeat h4 {
	background: #0c0c0c;
	width: 100%;
	border: 1px solid #2c2c2c;
}

.shoutbox_post_repeat img {
	vertical-align: text-top;
}

.shoutbox_post_repeat p {
	margin-top: 2px;	
}

.shoutbox_date {
	background: #101010;
	border: 1px solid #202020;
}

.shoutbox_admin{
	background: #21262c;
	border: 1px solid #111;
	font-size: 9px;
	margin-top: 4px;
}

/*Login Panel*/
.login {
	width: 235px;
	padding: 0;
	margin-top: 30px;
}

.login-avatar {
	padding: 0;
}

.login-wrapper {
	text-align: center;
	font-size: 11px;
}

.login-wrapper-logged {
	text-align: left;
	width: 235px;
	font-size: 11px;
	margin: 0 auto;
}

.welcome_user {
	font-size: 11px;
	font-weight: bold;
	border-radius: 4px;
	margin-left: 35px;
}

.login-wrapper-logged ul {
	list-style-type: none;
}

.login-wrapper-logged ul li {
	font-size: 11px;
	letter-spacing: 1px;
	margin: 0 5px 0 5px;
}

.login-wrapper-logged .avatar {
	float: left;
	width: 100px;
	height: 100px;
	overflow: hidden;
}

.login-wrapper .textbox, .login-wrapper .textbox:hover, .login-wrapper .textbox:focus {
	background: #111;
	border: 1px solid #222;
	height: 18px;
	width: 170px;
	height: 15px;
}

.login-wrapper .button, .login-wrapper .button:hover{
	color: #555;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: 10px;
	background: #111;
	border: 1px solid #2c2c2c;
	margin-right: 14px;
	height: 14px;
}

.login-wrapper a{
	color: #8f1d3d;
	font-size: 9px;
	margin-left: 5px;
	margin-right: 5px;
	position: relative;
	top: -8px;
}
/*End of Login Panel*/

.textbox {
	color: #666;
	background: #f0f0f0;
	border: 1px solid #d0d0d0;
    margin: 4px;
	width: 250px;
	height: 20px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

.textbox:focus {
	color: #209db8;
	background: #e9e9e9;
}

select.textbox {
	width: auto;
}

#shoutbox_message {
	color: #999;
	background: #1c1c1c;	
	border: 1px solid #444;
	width: 170px;
}

#shoutbox_message:focus {
	color: #888;
	background: #222;	
	border: 1px solid #555;
}

.textbox-admin {
	color: #666;
	background: #f0f0f0;
	border: 1px solid #94ddea;
	border-radius: 4px;
	width: 670px;
	margin: 5px;
}

.textbox-admin:focus {
	font-weight: bold;
	color: #209db8;
	background: #e9e9e9;
	border: 1px solid #b0b0b0;
	border-radius: 4px;
}

select.textbox-admin {
	width: auto;
}

textarea.textbox {
	min-height: 64px;
}

select {
	font-size: 12px;
	width: auto;
}

.button {
	font-size: 11px;
   color: #444;
   background: #c0c0c0;
   border: 1px solid #a0a0a0;
   margin: 2px;
   height: 18px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

.button:hover {
    color: #555;
    background: #d0d0d0;
}

.button-admin {
	color: #777;
	background: #e9e9e9;
	border: 1px solid #c0c0c0;	
}

.ladder-banner {
	background: #0c0c0c;
	border: 1px solid #222;
	margin-top: 6px;
	margin-bottom: 10px;
	box-shadow: 0px 0px 4px #000;
	border-radius: 4px;
}

.ladder-banner h2 {
	color: #444;
	font-size: 14px;
	margin: 3px 0 0 10px;
	font-family: BebasNeue;
}

#ladder-wrapper {
	background: #0c0c0c;
	border: 1px solid #222;
	padding: 4px;
}

.tabs {
	margin-left: 1px;
	margin-bottom: 3px;
}

.tabs a {
	border-top: 1px;
	border-left: 1px;
	border-right: 1px;
	border-bottom: 0;
	border-color: #333;
	border-style: solid;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	padding: 2px;
	background: url('images/tab.png') repeat-x;
	margin: 0 1px 0 1px;
}

.tabs a:hover {
	color: #c0c0c0;
	background: url('images/tab-hover.png') repeat-x;	
}

.list {
	list-style-type: none;
}

.list li:nth-child(odd) {
	background: #090909;
}

.list li:hover {
	background: #2c020d;
}

/*NEWS PANEL*/

.newscbar-wrapper { width: 510px; margin-bottom: 10px; margin-left: -5px; }
.newscbar-left { float: left; height: 20px; font-size: 14px; font-family: Helvetica, Verdana; padding-top: 8px; margin-right: 5px; margin-left: 15px; letter-spacing: -1px; } 
.newscbar-right { float: right; width: 20px; height: 20px; }
.newscbar-center { height: 20px;}
.newscbar-center ul { list-style-position: inside; overflow: hidden; padding-left: 10px;}
.newscbar-center ul li { float: left; padding-top: 8px; }
.newscbar-center ul li:first-child { list-style-type: none; margin: 0 -7px 0 5px; }
.newscbar-center ul li a { margin: 0 7px 0 0px; font-size: 14px; font-family: Helvetica, Verdana; padding: 0 5px 0 0px; }
.newscbar-center ul li a:hover { color: #6e7277; }

.center-panels-wrapper{
	float: left;
	width: 600px;
	margin-top: 5px;
	margin: 0 auto;
}

.newscap-wrapper {
	margin-bottom: 10px;
	-moz-border-radius: 6px;
}

.newscap-left {
	float: left;
	width: 13px;
	height: 30px;
	background: url(images/newscap-left.png) no-repeat;
}

.newscap-right {
	float: right;
	width: 13px;
	height: 30px;
	background: url(images/newscap-right.png) no-repeat;
}

.newscap-center {
	height: 30px;
	margin: 0 13px 0 13px;
	background: url(images/newscap-center.png) repeat-x;
}

.newscap-center p {
	color: #53595f;
	text-shadow: 1px 1px 0 #000;
	font-size: 14px;
	font-family: Helvetica, Verdana;
	float:left;
	padding: 11px 5px 0 0;
	text-transform: uppercase;
}

.newscap-center img {
	padding: 6px 0 0 0;
}

.newscontent-wrapper {
	font-size: 12px;
	margin: 0;
}

.newscontent-center {
	font-size: 11px;
	word-wrap: break-word;
	background: #f8f8f8 url('images/newscontent-gradient.jpg') repeat-x;
	margin: 0 5px 0 5px;
	min-height: 30px;
}

.newscontent-center p {
	font-family: Verdana, Arial;
	font-size: 11px;
	color: #1e2123;
	text-shadow: 1px 1px 0 #fff;
	padding: 4px;
}

.newscontent-center .news-image {
	float: left;
	margin: 0 12px 4px 0;
	box-shadow: 0 0 10px #222;
	background: #fff;
}

.newsfooter-wrapper {
	clear: both;
	height: 24px;
	margin: 0 4px 0 5px;
	font-size: 11px;
	text-align: center;
}

.newsfooter-wrapper p, .newsfooter-wrapper a {
	color: #1e2123;
	font-size: 11px;
	font-family: Verdana;
	padding-top: 3px;
	letter-spacing: -1px;
}

.newsfooter-left {
	float: left;
	width: 8px;
	height: 24px;
	background: url(images/newsfooter-left.png) no-repeat;
}

.newsfooter-right {
	float: right;
	width: 8px;
	height: 24px;
	background: url(images/newsfooter-right.png) no-repeat;
}

.newsfooter-center {
	height: 24px;
	margin: 0 7px 0 7px;
	background: url(images/newsfooter-center.png) repeat-x;
}

.newscomments-wrapper {
	border: 1px solid #222;
	background: #111;
	margin: 4px 2px 6px 2px;
}

.newscomments-wrapper p {
	padding: 2px;
}

.comments_not_logged_in {
	color: #53595f !important;
	text-shadow: 1px 1px 0 #111;
	font-weight: bold;
	text-align: center;
	margin: 2px;
}

/*CENTER + NEWS PANEL NEW*/

.center-panel {
	min-height: 50px;
	width: 340px;
	padding: 4px;
	float: left;
	margin-top: -9px;
}

.centerpanel-top {
	background: url('images/centerpanel-top.png') no-repeat;	
	width: 320px;
	height: 13px;
	padding: 10px;
}

.centerpanel-middle {
	background: url('images/centerpanel-middle.png') repeat-y;
	width: 320px;
	padding: 0 10px 0 10px;
}

.centerpanel-bottom { 
	background: url('images/centerpanel-bottom.png') no-repeat;
	width: 340px;
	height: 15px;
}

#news-panel {
	float: left;
	width: 340px;
	margin-right: 10px;
}

.news-content {
	background: #111;
	border: 1px solid #333;
	border-radius: 5px;
	min-height: 20px;
	padding: 2px;
	box-shadow: 0 0 5px #000;
}

.news-content h3 {
	color: #9F052D;	
	float: left;
}

.news-content h4 {
	clear: right;
	margin-bottom: 4px;
}

.news-content p {

}

.pagination {
	text-align: center;
}

/*Slider*/

#featured{  
	z-index: 99;
	float: left;
	width:704px;  
	padding-right:320px;  
	position:relative; 
	top: 0px;
	left: 5px;
	height:255px;
	background: url('images/slider/sliderbg.png') no-repeat;
}

#featured ul.ui-tabs-nav{
	position:absolute;
	top:15px; left:704px;
	list-style:none;
	padding: 14px 0 0 0; margin:0;
	width:290px;
	height: 212px;
	background: url('images/slider/slidertabbg.png') no-repeat;
}
#featured ul.ui-tabs-nav li{
	font-size:12px;
	color:#777;
}

#featured ul.ui-tabs-nav li span{
	color: #777;
	font-size:16px;
	font-family: Helvetica, Verdana;
	text-shadow: 1px 1px 0 #000;
	line-height:20px;
}

#featured ul.ui-tabs-nav li p {
	font-family: Verdana;
	font-size: 12px;
	text-shadow: 1px 1px 0 #000;
	color: #666;
	line-height: 16px;	
}

#featured .ui-tabs-panel {
	width: 696px; height:240px;
	position:relative;
	top: 2px;
	left: 8px;
	overflow:hidden;
}

#featured .ui-tabs-hide{
	display:none;
}

#featured li.ui-tabs-nav-item a{/*On Hover Style*/
	display:block;
	height:42px;
	padding: 3px 0 6px 0;
	color:#333;
	line-height:20px;
	outline:none;
	background: url('images/slider/slide_tab.png') no-repeat;
}

#featured li.ui-tabs-nav-item a:hover{
	
}
#featured li.ui-tabs-selected { /*Selected tab style*/
	background:url('images/selected-item.gif') top left no-repeat;
	overflow: hidden;
}

#featured li.ui-tabs-selected a {
	position: relative;
	z-index: 400;
	background: url('images/slider/slide_tab_selected.png') no-repeat;
}

#featured ul.ui-tabs-nav li.ui-tabs-selected span{
	color: #4a849f;
}

#featured ul.ui-tabs-nav li.ui-tabs-selected p {
	font-family: Verdana;
	font-size: 12px;
	text-shadow: 1px 1px 0 #000;
	color: #467005;
	text-transform: uppercase;
}

#featured ul.ui-tabs-nav li img{
	float:left; margin: -1px 5px;
	background:#222;
	padding:2px;
	border:1px solid #444;
}

#featured .ui-tabs-panel .info{
	position:absolute;
	top:177px; left:0;
	height:35px; width: 635px;
	padding-left: 10px;
	padding-top: 20px;
}

#featured .info h2 a{
	font-size:17px; font-family: Helvetica, Georgia, serif;
	color:#ccc; text-shadow: 1px 1px 0 #000; padding-left: 5px; margin:0;
	letter-spacing: 1px;
}
#featured .info p{
	margin:0 5px;
	font-family: Helvetica, Verdana; font-size:12px;
	letter-spacing: 1px;
	line-height:10px; color:#888;
	text-shadow: 1px 1px 0 #000;
	margin-top: 3px;
}
#featured .info a{
	text-decoration:none;
	color:#f0f0f0;
}
#featured .info a:hover{
	text-decoration:none;
}

/*Forum*/

.forum-table {
	border-collapse: collapse;
	text-align: left;
	border: 1px solid #222;
	width: 100%;
}

.forum-table th {
	color: #1c9eb5;
	background: #f0f0f0;
	border-collapse: collapse;
	border: 1px solid #c0c0c0;
}

.forum-table td {
	background: #f4f4f4;
	border: 1px solid #d0d0d0;
}

.forum-posts {
	border-collapse: collapse;
	text-align: left;
	border: 1px solid #222;
	width: 718px;
}

.forum-posts th {
	text-transform: uppercase;
	color: #666;
	text-align: center;
	background: #111;
	border: 1px solid #222;
}

.forum-posts td {
	padding-left: 6px;
	background: #111;
	border: 1px solid #222;
}

/*EndOfForum*/

/*Admin*/

.admin-nav {
	margin: 0 0 0 10px;
}

.admin-nav td  a{
	margin-right: 16px;
}
