/* 
    Document   : style
    Created on : 26.06.2011, 11:02:36
    Author     : Voodoo
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

* {
	margin: 0;
	padding: 0;
	word-wrap: break-word;
}

a {
	font-size: 11px;
    color: #333;
    text-decoration: none;
	outline: none;
}

a:hover {
	color: #555;
}

p {
	font-size: 11px;
	color: #444;
}

.clear {
	clear:both;
}

table {
	font-size: 11px;
}

h1, h2, h3, h4, h5 ,h6 {
	font-family: verdana, arial, sans-serif;
	padding: 0;
	margin: 0;
}

.error {
	color: white !important;
	background: #701133 !important;
	border: 1px solid #aaa !important;
	text-align: center !important;
	text-shadow: 1px 1px 0 #444 !important;
	letter-spacing: 1px;
	margin-bottom: 2px;
}

.success {
	color: white !important;
	background: #719601 !important;
	border: 1px solid #aaa !important;
	text-align: center !important;
	font-weight: bold !important;
	margin-bottom: 2px;
	letter-spacing: 1px;
	text-shadow: 1px 1px 0 #444 !important;
}

body {
	text-align: center; /*Fix center page on IE*/
	font-family: 'Dosis', sans-serif, arial, verdana;
	font-size: 11px;
    color: #777;
    background: #222222 url('../images/bg_pat.png');
	margin: 0 auto;
}

.container {
	width: 960px;
	margin: 0 auto;
}

/*Top Nav*/
.topnav {
	width:960px;
	height: 45px;
	margin: 0 auto;
}

.topnav-left {
	background: url('../images/top_nav_left.png') no-repeat;
	width:5px;
	height:45px;
	float:left;
}

.topnav-right {
	background: url('../images/top_nav_right.png') no-repeat;
	width:5px;
	height:45px;
	float:right;
}

.topnav-center {
	margin: 0 5px;
	background: #111111;
	height: 40px;
	border-bottom: 1px solid #2c2c2c;
}

.topnav-center p, .topnav-center a {
	color: #fefefe;
	text-align: left;
	font-size: 12px;
	padding: 13px 1px;
	text-shadow: 1px 1px 0 #000;
	float: left;
	margin: 0;
	background: url('../images/topnav_side_border.png') no-repeat;
	background-position: right top;
}

.user_nav {
	position: relative;
}

.topnav-center p.welcome, p.the_time{
	padding: 12px 10px;
	margin: 0;
	background: none;
	width: 100px;
	text-align: center;
}

p.welcome img {
	margin: 0 2px 0 5px;
}

.topnav-center p span, .topnav-center a span {
	color:#d5c800;
}

.topnav-center a {
	color: #bfbfbf;
	padding: 12px 18px;
	background: url('../images/nav_btn_gradient.png') repeat-x;
	border-left: 1px solid #000000;
	border-right: 1px solid #333333;
}

.topnav-center a:first-child {
	border-left: 1px solid #333333;
}

.topnav-button {
	position: relative;
	float:right;
	margin-right:10px;
}

.registerbtn {
	cursor: pointer;
	font-size: 14px;
	color: white;
	text-shadow: 1px 1px 0 #000;
	float: right;
	background: url('images/registerbtn.png') no-repeat;
	width: 101px;
	height: 30px;
	padding: 10px 0 0 0;
}

.registerbtn a {
	font-size: 14px;
	color: white;
	padding: 10px 0 0 0;
	text-shadow: 1px 1px 0 #000;
}

.registerbtn:hover {
	background: url('images/registerbtnhover.png') no-repeat;
}

#thetime {
	color: #555555;
}

.slide_down_nav {
	display: none;
	list-style-type: none;
	position: absolute;
	top: 30px;
	left: 83px;
	z-index: 100;
	font-size: 12px;
	background: #000;
	border: 1px solid #2c2c2c;
	border-radius: 2px 2px 6px 6px;
	padding: 5px 10px;
	box-shadow: 0 0 10px #000;
}

.slide_down_nav li {
	color: #777;
	padding: 2px 0;
}

.slide_down_nav a{
	background: #111;
	border: none;
	padding: 0;
	margin: 2px;
}


/*End of Top Nav*/

/*Header (Logo + Login Panel)*/
.header {
   width: 1010px;
   margin: 0 auto;
   clear: both;
}

.logo  a img{
	float: left;
	border: 0;
	padding:30px;
}

.status-panel {
	float: right;
	background: url('images/status_panel.png') no-repeat;
	width: 350px;
	height: 120px;
}

.status-panel p {
	text-align: left;
	font-size: 12px;	
	padding: 3px 0 1px 10px;
}

.last_online {
	font-size: 12px;
	text-align: center;
	width: 100%;
	height: 95px;
	padding-top: 5px;
}

.last_online td {
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 1px;
	border-color: #333;
	border-style: solid;	
}

.last_online tr + tr + tr + tr td { border: none; }

.last_online a {
	font-size: 12px;	
}

.last_online p {
	font-size: 12px;
}

/*End of Header*/

.subheader {
	text-align: left;
	font-size: 12px;
	letter-spacing: 2px;
	padding-top: 4px;
	margin: 0 auto;
}

.subheader-left {
    float: left;
    background: url('../images/nav_left.png') no-repeat;
	background-position: right top;
    width: 11px;
    height: 45px;
	border-bottom: 1px solid #fff;
}

.subheader-right {
    float: right;
    background: url('../images/nav_right.png') no-repeat;
    width: 11px;
    height: 45px;
	border-bottom: 1px solid #fff;
}

.subheader-center {
   background: url('../images/nav_center.png') repeat-x;
   height: 31px;
   padding-top: 14px;
   margin: 0 10px;
   border-bottom: 1px solid #fff;
}

.subheader-center ul {
	float: left;
	list-style-type: none;
}

.subheader-center ul li {
    display: inline;
}

.subheader-center li:first-child a {
	border-left: none;
}

.subheader-center li:last-child a {
	border-right: none; 
}

.subheader-center ul li a {
	color: #e0e0e0;
	font-size: 12px;
	text-shadow: 0 -1px 0 #000;
	padding: 11px 15px;
	letter-spacing: 0;
	border-left: 1px solid #111111;
	border-right: 1px solid #555555;
	text-transform: uppercase;
	line-height: 20px;
}

.subheader-center ul li a:hover {
	color: #888;
}

.subheader-center p {
	float: right;
	color: #42474b;
	font-size: 16px;
	text-shadow: 1px 1px 0 #000;
	letter-spacing: -1px;
	text-transform: uppercase;
	margin-right: 10px;
	background: url('images/platforms-arrow.png') no-repeat left center;
	padding-left: 15px;
	cursor: pointer;
}

.subheader-center p:hover {
	color: #888;
	background: url('images/platforms-arrow-hover.png') no-repeat left center;
}

.search-form {
	border: 1px solid #5d5d5d;
	background: url('../images/search_bg.png') repeat-x;
	border-radius: 5px;
	width: 200px;
	float: right;
	padding: 2px;
	margin-top: -4px;
}

.search-form input[type='text'] {
	color: #fff;
	background: none;
	border: none;
	width: 170px;
}

.search-form input[type='submit'] {
	background: url('../images/search_icon.png') no-repeat;
	width: 22px;
	height: 23px;
	border: none;
}

/*End of Subheader*/

/*Platforms navigation*/
.platforms-nav-wrapper {
	background: url('../images/platforms_nav.png') repeat-x;
	width: 958px;
	height: 31px;
	margin: 0 auto;
	border: 1px solid #f0f0f0;
	border-top: none;
}

.platforms-nav-pattern {
	background: url('../images/bg_pat.png');
	width: 100%;
	height: 100%;
}

.platforms-nav-wrapper ul {
	list-style-type:none;
}

.platforms-nav-wrapper li {
	float: left;
	padding: 8px 15px;
	text-align: left;
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
}

.platforms-nav-wrapper li:hover {
	background: #111;
	border-left: 1px solid #2c2c2c;
	border-right: 1px solid #2c2c2c;
}

.platforms-nav-wrapper li:first-child {
	margin-left: 20px;
}

.platforms-nav-wrapper li a{
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.4);
}

ul.sub-platforms-nav {
	list-style-type: none;
	min-width: 120px;
	padding-top: 4px;
	z-index: 100;
	font-size: 12px;
	position: absolute;
	margin: 8px 0 0 -16px;
	background: #111;
	display: none;
	border-left: 1px solid #2c2c2c;
	border-right: 1px solid #2c2c2c;
	border-bottom: 1px solid #2c2c2c;
	border-radius: 2px 2px 5px 5px;
}

ul.sub-platforms-nav li, .sub-platforms-nav li:first-child {
	font-size: 12px;
	padding: 4px 6px;
	margin: 0;
	float: none;
	text-align: left;
}

.sub-platforms-nav li:hover {
	border: none;
	background: #1a1a1a;
}

ul.sub-platforms-nav li a {
	font-size: 12px;
	color: #939393;
	text-decoration: none
}

ul.sub-platforms-nav li a:hover {
	background: none;
	color: #c0c0c0;
}

.sub-platforms-nav div a {
	color: #b8c400!important;
	margin: 0;
}
/*End of Platforms Navigation*/

/*Site Content*/
.content-wrapper {
	text-align: left;
    width: 960px;
    margin: 0 auto;
	background: #f0f0f0;
}

.content-bottom {
	background: url(images/content-bottom.png) no-repeat;
	width: 1010px;
	height: 5px;
}

.content-center {
	padding: 0 0 1px 0;
	height: inherit;
	clear: both;
}

/*End of site Content*/

/*Footer*/
.footer {
	width: 990px;
	font-size: 11px;
	margin: 0 auto;
	clear: both;
}

.footer-left {
	float:left;
	background:url('../images/footer_left.png') no-repeat;
	width:30px;
	height:180px;
}

.footer-right {
	float:right;
	background:url('../images/footer_right.png') no-repeat;
	width:30px;
	height:180px;
}

.footer-center {
	text-align: left;
	height: 180px;
	background:url('../images/footer_center.png') repeat-x;
	margin: 0 30px;
}

.footer-block {
	padding: 10px 0 0 0;
	max-width:122px;
	max-height:140px;
	overflow:hidden;
	float:left;
	margin: 5px 15px;
	text-overflow: ellipsis;
}

.footer-block h3 {
	font-family: 'Dosis', Verdana;
	color: #fff;
	text-shadow: 1px 1px 0 #222;
	margin-bottom: 10px;
	font-weight: lighter;
	font-size: 16px;
}

.footer-block ul {
	list-style-type: none;
}

.footer-block ul li {
	margin: 2px 0;
	white-space: nowrap;
}

.footer-block li a {
	color: #707070;
}

.footer-block li a:hover {
	color: #666;
}

.footer-center p {
	font-family: 'Dosis', Verdana;
	color: #6c7279;
	font-size: 10px;
	font-family: Verdana;
	text-align: left;
	text-shadow: 1px 1px 0 #000;
}

.footer-links {
	float: right;
}

.footer-links a {
	color: #53595f;
	text-shadow: 1px 1px 0 #000;
	font-size: 11px;
	font-family: 'Dosis', Verdana;
	text-transform: uppercase;
	margin-left: 5px;
	margin-right: 5px;
}

.last {
	width: 960px;
	margin: 0px auto;
	padding-bottom: 10px;
}

.copyright {
	text-transform: uppercase;
	float: left;
	margin-left: 5px;
}

.copyright a {
	font-family: 'Dosis', verdana;
	text-shadow: 1px 1px 0 #000;
	color: #53595f;
	font-size: 10px;
}

.copyright a:hover {
	color: #6c7279;
}

.scrollArrow {
	display: none;
	position: fixed;
	bottom: 70px;
	right: 25px;
	font-size: 22px;
	font-weight: bold;
	cursor: pointer;
	width: 30px;
	height: 30px;
	background: url('images/arrow.png') no-repeat;
}

.scrollArrow:hover {
	width: 30px;
	height: 30px;
	background: url('images/arrowhover.png') no-repeat;
}



/*End of Footer*/

/*Tables*/

.table2 {
	border-collapse: collapse;
	margin: 2px auto;
	width: 100%;
}

.table2 tr {
	border-radius: 5px;
}

.table2 th {
	color: #666666;
	border: 1px solid #2f2f2f;
	background: url('../images/table2-header.png') repeat-x;
	border-collapse: collapse;
	padding: 2px 4px;
	font-weight: lighter;
	text-transform: uppercase;
	font-size: 14px;
}

.table2 td {
	color: #9f9f9f;
	padding: 4px;
	border: 1px solid #333333;
	background: url('../images/table2-cell.png') repeat-x;
}

.table2 a {
	color: #9f9f9f;
	font-size: 14px;
}

.table3 {
	border-collapse: collapse;
	width: 98%;
	margin: 0 auto;
}

.table3 th {
	color: #10a2bc;
	background: #e0e0e0;
	border-collapse: collapse;
	border: 1px solid #aaa;
}

.table3 td {
	background: #e9e9e9;
	padding: 2px;
	border: 1px solid #ccc;
}

.table3 td:hover {
	background: #e0e0e0;
	border-bottom: 1px solid #10a2bc;
}

.table-admin {
	border-collapse: collapse;
	width: 100%;
	margin: 0 auto;	
}

.table-admin th {
	color: #1c9eb5;
	background: #f0f0f0;
	border-collapse: collapse;
	border: 1px solid #c0c0c0;
}

.table-admin td {
	background: #f4f4f4;
	border: 1px solid #d0d0d0;
}

/*Panel*/
.side-panels {
	width:400px;
	background: #121212;
	font-family: sans-serif, arial, verdana;
	display: table-cell;
	vertical-align: top;
}

.left-side-panels, .right-side-panels {
	margin: 0; padding: 0;
	display: block;
	float: left;
	width: 200px;
	border-top: 1px solid #121212;
	border-bottom: 1px solid #121212;
}

.left-side-panels .panel-title {
	margin: 0;
	width: 200px;
	height: 38px;
	border-bottom: 1px solid #2c2c2c;
	background: #2c2c2c; /* Old browsers */
	background: -moz-linear-gradient(top,  #2c2c2c 0%, #151515 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2c2c2c), color-stop(100%,#151515)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #2c2c2c 0%,#151515 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #2c2c2c 0%,#151515 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #2c2c2c 0%,#151515 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #2c2c2c 0%,#151515 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c2c2c', endColorstr='#151515',GradientType=0 ); /* IE6-9 */
}

.panel-title p {
	color: #bcbcbc;
	font-family: 'Dosis', Verdana;
	font-size: 15px;
	text-shadow: 1px 1px 0 #000;
	padding: 10px 12px;
}

.panel-content a {
	color: #B8C400;
}

.left-side-panels .panel-content p {
	color: #666;
}

.left-side-panels .panel-content {
	color: #aaa;
	background: #1a1a1a;
	border-bottom: 1px solid #2c2c2c;
	padding: 4px 0;
}

.panel-content hr {
	border: 1px dotted #a0a0a0;
}

.panel-content li {
	padding-left: 4px;
}

.panel-content p {
	padding: 2px 5px;
}

.right-side-panels .panel-title {
	background: #e9e9e8;
	background: -moz-linear-gradient(top,  #e9e9e8 0%, #b9b8b9 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e9e9e8), color-stop(100%,#b9b8b9));
	background: -webkit-linear-gradient(top,  #e9e9e8 0%,#b9b8b9 100%);
	background: -o-linear-gradient(top,  #e9e9e8 0%,#b9b8b9 100%);
	background: -ms-linear-gradient(top,  #e9e9e8 0%,#b9b8b9 100%);
	background: linear-gradient(to bottom,  #e9e9e8 0%,#b9b8b9 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9e9e8', endColorstr='#b9b8b9',GradientType=0 );
}

.right-side-panels .panel-title p {
	color: #2c2c2c;
	text-shadow: 1px 1px 0 #e9e9e8;
}

.right-side-panels .panel-content {
	background: #e1e1e1;
	padding: 4px 0;
	border-bottom: 1px solid #111;
}

.right-side-panels a {
	color: #111;
}

fieldset {
	border: 1px solid #2c2c2c;
}

/*End of Panel*/

/*Login Panel And Contact Page*/
.login {
	padding: 10px;
	width: 90%;
}

.login label, .center-panels-wrapper label {
	display: block;
	font-family: 'Dosis', Verdana;
	font-size: 14px;
	margin: 0 4px;
}

.login input[type='text'], .login input[type='password'], .center-panels-wrapper input[type='text'], .center-panels-wrapper input[type='password'], .center-panels-wrapper textarea {
	padding: 4px;
	margin: 4px;
	width: 95%;
}

.center-panels-wrapper textarea {
	min-height: 150px !important;
}

.login .button, .center-panels-wrapper .button {
	float: right;
	font-family: 'Dosis', Verdana;
	font-size: 14px;
	letter-spacing: 1px;
	width: auto;
	height: auto;
	box-shadow: 0 -1px 0 #817a08;
	border-top: 1px solid #e5ea98;
	border-left: 1px solid #817a08;
	border-right: 1px solid #817a08;
	border-bottom: 2px solid #575200;
	padding: 5px 10px;
	color: #fff;
	text-shadow: 1px 1px 0 #817a08;
	background: #cabe03; /* Old browsers */
	background: -moz-linear-gradient(top,  #cabe03 0%, #817a08 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cabe03), color-stop(100%,#817a08)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #cabe03 0%,#817a08 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #cabe03 0%,#817a08 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #cabe03 0%,#817a08 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #cabe03 0%,#817a08 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cabe03', endColorstr='#817a08',GradientType=0 ); /* IE6-9 */
}

.center-panels-wrapper .button {
	float: none;
	margin: 4px;
}

.login .button:hover, .center-panels-wrapper .button:hover {
	color: #eee;
	text-shadow: -1px -1px 0 #817a08;
	background: #817a08; /* Old browsers */
	background: -moz-linear-gradient(top,  #817a08 0%, #cabe03 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#817a08), color-stop(100%,#cabe03)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #817a08 0%,#cabe03 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #817a08 0%,#cabe03 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #817a08 0%,#cabe03 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #817a08 0%,#cabe03 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#817a08', endColorstr='#cabe03',GradientType=0 ); /* IE6-9 */
}

.social-buttons .button {
	float: left;
}

.social-buttons {
	font-family: 'Dosis', Verdana;
	margin: 0;
	padding: 0;
	width: 100%;
}

.social-buttons p {
	padding: 6px 0;
	font-size: 14px;
}

.social-buttons .facebook {
	margin-left:0;
}

.social-buttons .twitter {
	float: left;
	margin-right: 0;
}

.social-buttons .facebook, .social-buttons .twitter {
	margin-bottom: 10px;
}

.social-buttons .facebook {
	box-shadow: 0 -1px 0 #2C4F82;
	border-top: 1px solid #46A6C9;
	border-left: 1px solid #46A6C9;
	border-right: 1px solid #46A6C9;
	border-bottom: 2px solid #2C4F82;
	background: #3a78aa;
	background: -moz-linear-gradient(top,  #3a78aa 0%, #35619f 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3a78aa), color-stop(100%,#35619f));
	background: -webkit-linear-gradient(top,  #3a78aa 0%,#35619f 100%);
	background: -o-linear-gradient(top,  #3a78aa 0%,#35619f 100%);
	background: -ms-linear-gradient(top,  #3a78aa 0%,#35619f 100%);
	background: linear-gradient(to bottom,  #3a78aa 0%,#35619f 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3a78aa', endColorstr='#35619f',GradientType=0 );
	text-shadow: 1px 1px 0 #2C4F82;
}

.social-buttons .twitter {
	box-shadow: 0 -1px 0 #006c95;
	border-top: 1px solid #92EAFC;
	border-left: 1px solid #006c95;
	border-right: 1px solid #006c95;
	border-bottom: 2px solid #004C6B;
	background: #00d1fe;
	background: -moz-linear-gradient(top,  #00d1fe 0%, #006c95 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00d1fe), color-stop(100%,#006c95));
	background: -webkit-linear-gradient(top,  #00d1fe 0%,#006c95 100%);
	background: -o-linear-gradient(top,  #00d1fe 0%,#006c95 100%);
	background: -ms-linear-gradient(top,  #00d1fe 0%,#006c95 100%);
	background: linear-gradient(to bottom,  #00d1fe 0%,#006c95 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00d1fe', endColorstr='#006c95',GradientType=0 );
	text-shadow: 1px 1px 0 #006c95;
}

.social-buttons .facebook img, .social-buttons .twitter img {
	vertical-align: middle;
	margin: 0 5px 2px 0;
}

.social-buttons .facebook:hover, .social-buttons .twitter:hover {
	background: rgb(53,97,159);
	background: -moz-linear-gradient(top,  rgba(53,97,159,1) 0%, rgba(58,120,170,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(53,97,159,1)), color-stop(100%,rgba(58,120,170,1)));
	background: -webkit-linear-gradient(top,  rgba(53,97,159,1) 0%,rgba(58,120,170,1) 100%);
	background: -o-linear-gradient(top,  rgba(53,97,159,1) 0%,rgba(58,120,170,1) 100%);
	background: -ms-linear-gradient(top,  rgba(53,97,159,1) 0%,rgba(58,120,170,1) 100%);
	background: linear-gradient(to bottom,  rgba(53,97,159,1) 0%,rgba(58,120,170,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#35619f', endColorstr='#3a78aa',GradientType=0 );
	text-shadow: -1px -1px 0 #2C4F82;
}

.login-avatar {
	padding: 0;
}

.login-wrapper {
	text-align: center;
	font-size: 11px;
}

.login-wrapper-logged {
	text-align: left;
	width: 235px;
	font-size: 11px;
	margin: 0 auto;
}

.welcome_user {
	font-size: 11px;
	font-weight: bold;
	border-radius: 4px;
	margin-left: 35px;
}

.login-wrapper-logged ul {
	list-style-type: none;
}

.login-wrapper-logged ul li {
	font-size: 11px;
	letter-spacing: 1px;
	margin: 0 5px 0 5px;
}

.login-wrapper-logged .avatar {
	float: left;
	width: 100px;
	height: 100px;
	overflow: hidden;
}

.login-wrapper .textbox, .login-wrapper .textbox:hover, .login-wrapper .textbox:focus {
	background: #111;
	border: 1px solid #222;
	height: 18px;
	width: 170px;
	height: 15px;
}

.login-wrapper .button, .login-wrapper .button:hover{
	color: #555;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: 10px;
	background: #111;
	border: 1px solid #2c2c2c;
	margin-right: 14px;
	height: 14px;
}

.login-wrapper a{
	color: #8f1d3d;
	font-size: 9px;
	margin-left: 5px;
	margin-right: 5px;
	position: relative;
	top: -8px;
}
/*End of Login Panel*/

.textbox {
	color: #666;
	background: #f0f0f0;
	border: 1px solid #d0d0d0;
    margin: 4px;
	width: 250px;
	height: 20px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

.textbox:focus {
	color: #209db8;
	background: #e9e9e9;
}

select.textbox {
	width: auto;
}

#shoutbox_message {
	color: #999;
	background: #1c1c1c;	
	border: 1px solid #444;
	width: 170px;
}

#shoutbox_message:focus {
	color: #888;
	background: #222;	
	border: 1px solid #555;
}

/*Ladder Shoutbox*/
.ls-wrapper {
	position: relative;
}

.ls-avatar{
	background: rgb(38,38,38);
	background: -moz-linear-gradient(top,  rgba(38,38,38,1) 0%, rgba(21,21,21,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(38,38,38,1)), color-stop(100%,rgba(21,21,21,1)));
	background: -webkit-linear-gradient(top,  rgba(38,38,38,1) 0%,rgba(21,21,21,1) 100%);
	background: -o-linear-gradient(top,  rgba(38,38,38,1) 0%,rgba(21,21,21,1) 100%);
	background: -ms-linear-gradient(top,  rgba(38,38,38,1) 0%,rgba(21,21,21,1) 100%);
	background: linear-gradient(to bottom,  rgba(38,38,38,1) 0%,rgba(21,21,21,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#262626', endColorstr='#151515',GradientType=0 );
	border: 1px solid #fff;
	border-radius: 3px;
	width: 100px;
	height: 100px;
	float: left;
	text-align: center;
	vertical-align: middle;
	padding: 1px;
	overflow: hidden;
}

.ls-avatar img {
	border-radius: 3px;
}

.ls-title {
	margin-left: 104px;
	padding: 2px;
	color: #fff;
	background: rgb(38,38,38);
	background: -moz-linear-gradient(top,  rgba(38,38,38,1) 0%, rgba(21,21,21,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(38,38,38,1)), color-stop(100%,rgba(21,21,21,1)));
	background: -webkit-linear-gradient(top,  rgba(38,38,38,1) 0%,rgba(21,21,21,1) 100%);
	background: -o-linear-gradient(top,  rgba(38,38,38,1) 0%,rgba(21,21,21,1) 100%);
	background: -ms-linear-gradient(top,  rgba(38,38,38,1) 0%,rgba(21,21,21,1) 100%);
	background: linear-gradient(to bottom,  rgba(38,38,38,1) 0%,rgba(21,21,21,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#262626', endColorstr='#151515',GradientType=0 );
	border: 1px solid #fff;
	border-radius: 3px 3px 0 0;
	font-weight: lighter;
}

.ls-title span {
	color: #c0c0c0;
	float: right;
}

.ls-text {
	margin-left: 104px;
	padding: 5px;
	color: #7c7c7c;
	background: #2d2e2e;
	background: -moz-linear-gradient(top,  #2d2e2e 0%, #181818 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2d2e2e), color-stop(100%,#181818));
	background: -webkit-linear-gradient(top,  #2d2e2e 0%,#181818 100%);
	background: -o-linear-gradient(top,  #2d2e2e 0%,#181818 100%);
	background: -ms-linear-gradient(top,  #2d2e2e 0%,#181818 100%);
	background: linear-gradient(to bottom,  #2d2e2e 0%,#181818 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d2e2e', endColorstr='#181818',GradientType=0 );
	border: 1px solid #fff;
	border-radius: 0 0 3px 3px;
	margin-bottom: 5px;
	height: 71px;
	overflow: hidden;
}
/*End of Ladder Shoutbox*/

.textbox-admin {
	color: #666;
	background: #f0f0f0;
	border: 1px solid #94ddea;
	border-radius: 4px;
	width: 670px;
	margin: 5px;
}

.textbox-admin:focus {
	font-weight: bold;
	color: #209db8;
	background: #e9e9e9;
	border: 1px solid #b0b0b0;
	border-radius: 4px;
}

select.textbox-admin {
	width: auto;
}

textarea.textbox {
	min-height: 64px;
}

select {
	font-size: 12px;
	width: auto;
}

.button {
	font-size: 11px;
   color: #444;
   background: #c0c0c0;
   border: 1px solid #a0a0a0;
   margin: 2px;
   height: 18px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

.button:hover {
    color: #555;
    background: #d0d0d0;
}

.button-admin {
	color: #777;
	background: #e9e9e9;
	border: 1px solid #c0c0c0;	
}

.ladder-banner {
	padding: 2px 4px;
}

.ladder-banner h2 {
	font-family: 'Dosis', helvetica;
	font-size: 25px;
	color: #222222;
	padding: 6px 4px;
}

#ladder-wrapper {
	margin: 0 1px;
}

.tabs {
	margin: 0 2px;
	padding: 5px 0 0 0;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	overflow: hidden;
	height: 20px;
}

.tabs a, .sub-tabs a {
	text-transform: uppercase;
	font-weight: lighter;
	font-size: 14px;
	color: #333;
	padding: 0px 4px;
	margin: 0;
	background: #d0d0d0;
}

.tabs a:hover {
	color: #fff;
	background: #6a9308;
}

.tabs a:first-child, .sub-tabs a:first-child {
	color: #fff;
	background: #222;
}

.sub-tabs {
	margin: 1px 0 5px 0;
}

.sub-tabs a {
	margin: 0 1px;
}

.sub-tabs a:hover {
	color: #fff;
	background: #d9012a;
}

.sub-tabs a:first-child {
	background: #d9012a;
	margin-left: 1px;
}

.list {
	list-style-type: none;
}

.list li:nth-child(odd) {
	background: #090909;
}

.list li:hover {
	background: #2c020d;
}

/*NEWS PANEL*/

.newscbar-wrapper { width: 510px; margin-bottom: 10px; margin-left: -5px; }
.newscbar-left { float: left; height: 20px; font-size: 14px; font-family: Helvetica, Verdana; padding-top: 8px; margin-right: 5px; margin-left: 15px; letter-spacing: -1px; } 
.newscbar-right { float: right; width: 20px; height: 20px; }
.newscbar-center { height: 20px;}
.newscbar-center ul { list-style-position: inside; overflow: hidden; padding-left: 10px;}
.newscbar-center ul li { float: left; padding-top: 8px; }
.newscbar-center ul li:first-child { list-style-type: none; margin: 0 -7px 0 5px; }
.newscbar-center ul li a { margin: 0 7px 0 0px; font-size: 14px; font-family: Helvetica, Verdana; padding: 0 5px 0 0px; }
.newscbar-center ul li a:hover { color: #6e7277; }

.center-panels-wrapper{
	display: table-cell;
	width: 558px;
	border-right: 1px solid #fff;
	vertical-align: top;
}

.news-title {
	margin-bottom: 10px;
	-moz-border-radius: 6px;
	border-bottom: 1px solid #fff;
	box-shadow: 0 1px 0 #555555;
}

.news-title h1, .page-title h1 {
	color: #222;
	font-size: 25px;
	font-family: 'Dosis', Helvetica, Verdana;
	float:left;
	padding: 2px 8px;
}

.page-title h1 {
	float: none;
}

.news-date {
	color: #939393;
	background: url('../images/news_date.png') repeat-x;
	width: 40px;
	height: 40px;
	float: left;
	font-family: 'Dosis', Verdana;
	text-align: center;
	font-size: 20px;
	line-height: 17px;
	padding: 0 12px;
	margin-left: -10px;
	border-left: 1px solid #333;
}

.newscap-center img {
	padding: 6px 0 0 0;
}

.newscontent-wrapper {
	font-size: 12px;
	margin: 8px 5px;
	min-height: 30px;
}

.newscontent-wrapper p {
	color: #2c2c2c;
	font-family: 'Dosis', Verdana;
	font-size: 12px;
}

.newscontent-wrapper .news-image {
	float: left;
	margin: 0 12px 4px 0;
	box-shadow: 0 0 10px #222;
	background: #fff;
}

.newsfooter-wrapper {
	clear: both;
	height: 24px;
	margin: 0 4px 0 5px;
	font-size: 11px;
	text-align: center;
}

.newsfooter-wrapper p, .newsfooter-wrapper a {
	color: #1e2123;
	font-size: 11px;
	font-family: Verdana;
	padding-top: 3px;
	letter-spacing: -1px;
}

.newsfooter-left {
	float: left;
	width: 8px;
	height: 24px;
	background: url(images/newsfooter-left.png) no-repeat;
}

.newsfooter-right {
	float: right;
	width: 8px;
	height: 24px;
	background: url(images/newsfooter-right.png) no-repeat;
}

.newsfooter-center {
	height: 24px;
	margin: 0 7px 0 7px;
	background: url(images/newsfooter-center.png) repeat-x;
}

.newscomments-wrapper {
	border: 1px solid #222;
	background: #111;
	margin: 4px 2px 6px 2px;
}

.newscomments-wrapper p {
	padding: 2px;
}

.comments_not_logged_in {
	color: #53595f !important;
	text-shadow: 1px 1px 0 #111;
	font-weight: bold;
	text-align: center;
	margin: 2px;
}

/*CENTER + NEWS PANEL NEW*/

.center-panel {
	min-height: 50px;
	width: 340px;
	padding: 4px;
	float: left;
	margin-top: -9px;
}

.centerpanel-top {
	background: url('images/centerpanel-top.png') no-repeat;	
	width: 320px;
	height: 13px;
	padding: 10px;
}

.centerpanel-middle {
	background: url('images/centerpanel-middle.png') repeat-y;
	width: 320px;
	padding: 0 10px 0 10px;
}

.centerpanel-bottom { 
	background: url('images/centerpanel-bottom.png') no-repeat;
	width: 340px;
	height: 15px;
}

#news-panel {
	float: left;
	width: 340px;
	margin-right: 10px;
}

.news-content {
	background: #111;
	border: 1px solid #333;
	border-radius: 5px;
	min-height: 20px;
	padding: 2px;
	box-shadow: 0 0 5px #000;
}

.news-content h3 {
	color: #9F052D;	
	float: left;
}

.news-content h4 {
	clear: right;
	margin-bottom: 4px;
}

.news-content p {

}

.pagination {
	text-align: center;
}

/*Slider*/

.slider-wrapper {
	max-width: 557px;
	position:relative; 
	height: 260px;
	border-bottom: 1px solid #fff;
	box-shadow: 0 1px 0 #494949;
	margin: 0 1px;
}

.slider {
	list-style-type: none;
}

.slider li {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	height:259px;
	border-bottom: 1px solid #494949;
}

.slider li:first-child {
	display: block;
}

.slider .info {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 29px;
	background: url('../images/slider_nav.png') no-repeat;
}

.slider h2, .slider p {
	font-family: 'Dosis', verdana;
}

.slider h2 a {
	color: #666;
	text-transform: uppercase;
	font-weight: lighter;
	padding: 0 7px;
	font-size: 16px;
	line-height: 29px;
}

.slider-arrow-left{
	position: absolute;
	top: 50%;
	left: 5px;
	margin-top: -18px;
	z-index: 100;
	cursor: pointer;
}

.slider-arrow-right {
	position: absolute;
	top: 50%;
	right: 5px;
	margin-top: -18px;
	z-index: 100;
	cursor: pointer;
}

/*Forum*/

.forum-table {
	border-collapse: collapse;
	text-align: left;
	border: 1px solid #222;
	width: 98%;
	margin: 0 auto;
}

.forum-table th {
	color: #1c9eb5;
	background: #f0f0f0;
	border-collapse: collapse;
	border: 1px solid #c0c0c0;
	padding: 5px;
}

.forum-table td {
	background: #f4f4f4;
	border: 1px solid #d0d0d0;
	padding: 5px;
}

.forum-posts {
	border-collapse: collapse;
	text-align: left;
	border: 1px solid #222;
	width: 718px;
}

.forum-posts th {
	text-transform: uppercase;
	color: #444;
	text-align: center;
	background: #111;
	border: 1px solid #222;
}

.forum-posts td {
	padding-left: 6px;
	background: #111;
	border: 1px solid #222;
}

/*EndOfForum*/

/*Side Social*/

.side-facebook a {
	cursor: pointer;
	position: fixed;
	left: 0;
	top: 20%;
	background: #111 url('../images/facebook_vertical.png') no-repeat center center;
	width: 31px;
	height: 143px;
	padding: 15px 10px;
	opacity: 0.5;
	z-index: 500;
}

/*Search Page*/
.search-results {
	list-style-type: none;
	list-style-position: inside;;
}

.search-results li {
	display: block;
	background: #e0e0e0;
	padding: 4px 6px;
	margin: 1px 0;
}

.search-results li:hover {
	color: #888;
	background: #ececec;
}

/*Admin*/

.admin-nav {
	margin: 0 0 0 10px;
}

.admin-nav td  a{
	margin-right: 16px;
}
