.shoutbox {
	background: 1c1c1c;
	border-bottom: 1px solid #2c2c2c;
}

.shoutbox_post {
	margin: 0;
	padding: 2px 5px;
	border-bottom: 1px solid #3c3c3c;
	border-top: 1px solid #000;
	background: #2c2c2c; /* Old browsers */
	background: -moz-linear-gradient(top,  #2c2c2c 0%, #151515 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2c2c2c), color-stop(100%,#151515)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #2c2c2c 0%,#151515 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #2c2c2c 0%,#151515 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #2c2c2c 0%,#151515 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #2c2c2c 0%,#151515 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c2c2c', endColorstr='#151515',GradientType=0 ); /* IE6-9 */

}

.shoutbox_post h4 a {
	color: #b8c400;
	float: left;
}

.shoutbox_post img {
	vertical-align: text-top;
}

.shoutbox_post p {
	margin-top: 2px;	
}

.shoutbox_date {
	border: 1px solid #202020;
}

.shoutbox_admin{
	background: #21262c;
	border: 1px solid #111;
	font-size: 9px;
	margin-top: 4px;
}

.more_shouts {
	cursor: pointer;
	display: block;
	padding: 15px 0;
	text-align: center;
}

.more_shouts:hover{
	background: #222;
}